@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap");
/* ===================================================================*/
/* ====================================================== main styles */
/*====================================================================*/
*,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: normal;
}

html.scrollout {
	overflow: hidden;
}

body {
	font-family: "Oswald", sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	background: url("../img/bg_modul_grey.webp");
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

button {
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
button:focus {
	outline: none;
}

input,
textarea {
	outline: none;
}

section {
	position: relative;
	margin: 0 0 100px 0;
}

.button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px 23px;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	background: #fff;
	border-radius: 30px;
}
.button img {
	width: 18px;
	margin: 0 0 0 10px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.button:hover img {
	-webkit-transform: translateX(10px);
	-ms-transform: translateX(10px);
	transform: translateX(10px);
}

.section-title,
.feedback__title {
	margin: 0 0 40px 0;
	font-family: "Playfair Display", serif;
	font-size: 54px;
	font-style: italic;
	text-align: center;
}

.swiper-container{
  overflow: hidden;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right{
	background-image: none;
}

.visible-992 {
	display: none;
}

@media screen and (max-width: 992px) {
	body {
		font-size: 16px;
	}
	.section-title,
	.feedback__title {
		font-size: 40px;
	}
	.visible-992 {
		display: block;
	}
	.hidden-992 {
		display: none;
	}
}

.header {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	padding: 3px 0;
	background: rgba(0, 0, 0, 0.8);
}
.header__box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.header__logo {
	padding: 0 0;
}
.header__menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: right 0.3s;
	-o-transition: right 0.3s;
	transition: right 0.3s;
}
.header__connection {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 4px;
	background: #fff;
	border-radius: 30px;
}

.menu__item {
	-webkit-transition: -webkit-transform 0.3s;
	transition: -webkit-transform 0.3s;
	-o-transition: transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
}

.menu__link {
	position: relative;
	z-index: 1;
	display: block;
	padding: 26px 10px;
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
}
.menu__link::after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #e10016;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#e10016),
		color-stop(73%, #ab0303)
	);
	background: -o-linear-gradient(top, #e10016 0%, #ab0303 73%);
	background: linear-gradient(180deg, #e10016 0%, #ab0303 73%);
	-webkit-transform: skewX(-10deg);
	-ms-transform: skewX(-10deg);
	transform: skewX(-10deg);
	-webkit-transition: width 0.3s;
	-o-transition: width 0.3s;
	transition: width 0.3s;
}
.menu__link:hover {
	color: #fff;
}
.menu__link:hover::after {
	width: 100%;
}
.menu__link--active::after {
	width: 100%;
}

.connection__icon {
	width: 35px;
}

.connection__num {
	margin: 0 5px;
	font-size: 16px;
	font-weight: 500;
	color: #000;
}
.connection__num:hover {
	color: #000;
}

.gamburger {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	width: 30px;
	height: 30px;
	cursor: pointer;
	overflow: hidden;
}
.gamburger span {
	width: 30px;
	height: 3px;
	background: white;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.gamburger span:nth-child(2).open {
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
}
.gamburger span:nth-child(1).open {
	-webkit-transform: rotate(45deg) translateY(9px) translateX(5px);
	-ms-transform: rotate(45deg) translateY(9px) translateX(5px);
	transform: rotate(45deg) translateY(9px) translateX(5px);
	width: 35px;
}
.gamburger span:nth-child(3).open {
	-webkit-transform: rotate(-45deg) translateY(-9px) translateX(5px);
	-ms-transform: rotate(-45deg) translateY(-9px) translateX(5px);
	transform: rotate(-45deg) translateY(-9px) translateX(5px);
	width: 35px;
}

@media screen and (max-width: 1200px) {
	.header__logo {
		width: 140px;
	}
	.menu__link {
		font-size: 13px;
	}
	.connection__icon {
		width: 30px;
	}
	.connection__num {
		font-size: 14px;
	}
}

@media screen and (max-width: 992px) {
	.header__menu {
		position: fixed;
		z-index: 100;
		top: 57px;
		right: -100%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
		width: 100%;
		height: 100%;
		padding: 65px 37px;
		background: rgba(0, 0, 0, 0.8);
	}
	.header__menu.active {
		right: 0;
	}
	.menu__item {
		-webkit-transform: translateX(150px);
		-ms-transform: translateX(150px);
		transform: translateX(150px);
	}
	.menu__item.active {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
	.menu__link {
		padding: 15px 10px;
	}
}

@media screen and (max-width: 400px) {
	.header__connection {
		display: none;
	}
}

.home {
	overflow: hidden;
}
.home .swiper-slide__img {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
.home .swiper-slide__info {
	position: relative;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 565px;
	height: 780px;
	margin: 0 0 0 auto;
	padding: 140px 0 0 0;
	opacity: 0;
	-webkit-transform: translateX(-150px);
	-ms-transform: translateX(-150px);
	transform: translateX(-150px);
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.home .swiper-slide__info.active {
	opacity: 1;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.home .swiper-slide__info::after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: -5%;
	width: 110%;
	height: 100%;
	background: #e10016;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(#e10016),
		color-stop(73%, #6e0101)
	);
	background: -o-linear-gradient(top, #e10016 0%, #6e0101 73%);
	background: linear-gradient(180deg, #e10016 0%, #6e0101 73%);
	-webkit-transform: skewX(-12deg);
	-ms-transform: skewX(-12deg);
	transform: skewX(-12deg);
}
.home .swiper-pagination {
	position: static;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 16px 0;
	background: #000;
}
.home .swiper-pagination-bullet {
	width: 14px;
	height: 14px;
	background: #a9a9a9;
	opacity: 1;
}
.home .swiper-pagination-bullet-active {
	background: #e30016;
}
.home .swiper-navigation button {
	width: 60px;
	height: 70px;
	padding: 15px;
	background: rgba(0, 0, 0, 0.5);
}
.home .swiper-navigation button::after {
	display: none;
}
.home .swiper-navigation button img {
	height: 100%;
}
.home .swiper-navigation .swiper-button-next {
	right: 0;
}
.home .swiper-navigation .swiper-button-prev {
	left: 0;
}

.slide-info__title {
	margin: 0 0 20px 0;
}
.slide-info__title span {
	display: block;
	font-family: "Playfair Display", serif;
	font-size: 70px;
	font-style: italic;
	line-height: 1.029;
}
.slide-info__title span:nth-of-type(1) {
	margin: 0 0 0 30px;
}
.slide-info__title span:nth-of-type(2) {
	margin: 0 0 0 15px;
}

.slide-info__text {
	margin: 0 0 60px 0;
	padding: 0 70px 0 0;
	font-size: 21px;
	font-weight: 300;
}

@media screen and (max-width: 992px) {
	.full-width {
		width: 100%;
		max-width: 100%;
		padding: 0;
	}
	.home .swiper-slide__img {
		position: static;
		height: 300px;
	}
	.home .swiper-slide__info {
		width: 100%;
		height: auto;
		padding: 15px 0;
		opacity: 1;
		text-align: center;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}
	.home .swiper-slide__info::after {
		left: 0;
		width: 100%;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}
	.home .swiper-navigation button {
		width: 40px;
		height: 50px;
		padding: 15px;
		background: rgba(0, 0, 0, 0.5);
	}
	.slide-info__title {
		width: 100%;
	}
	.slide-info__title span {
		margin: 0 !important;
		font-size: 36px;
	}
	.slide-info__text {
		margin: 0 0 15px 0;
		padding: 0;
		font-size: 15px;
	}
	.slide-info__button {
		margin: 0 auto;
	}
}

.about__box {
	position: relative;
	padding: 200px 0 0 0;
}

.about__imgs {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.about__row {
	position: relative;
	z-index: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}
.about__row:nth-of-type(1) {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.about__row:nth-of-type(1) .about__foto {
	margin: 0 60px;
}
.about__row:nth-of-type(2) {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.about__icon {
	width: 120px;
	height: 120px;
	padding: 22px;
	border-radius: 5px;
	background-color: #e30016;
}

.about__info {
	margin: 0 85px;
	padding: 400px 50px 50px;
	background: #000;
}

.info-about__title {
	margin: 0 0 20px 0;
	font-family: "Playfair Display", serif;
	font-size: 23px;
	font-style: italic;
	text-align: center;
}

.info-about__text {
	font-weight: 300;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 90px;
	-moz-column-gap: 90px;
	column-gap: 90px;
	text-align: justify;
}

.info-about__button {
	margin: 43px auto -70px auto;
}

@media screen and (max-width: 1200px) {
	.about__row:nth-of-type(1) {
		margin: 0 0 30px 0;
	}
	.about__row:nth-of-type(1) .about__foto {
		margin: 0 20px;
	}
	.about__foto--central {
		width: 375px;
	}
}

@media screen and (max-width: 992px) {
	.about__box {
		padding: 0;
	}
	.about__imgs {
		position: static;
	}
	.about__row:nth-of-type(1) {
		display: none;
	}
	.about__foto {
		display: none;
	}
	.about__foto--central {
		display: block;
		margin: 0 auto;
	}
	.about__info {
		margin: -65px 0 0 0;
		padding: 100px 15px 50px 15px;
	}
	.info-about__text {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}

@media screen and (max-width: 400px) {
	.about__foto--central {
		width: 100%;
	}
}

.services__box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.services__item {
	position: relative;
	width: 365px;
	height: 360px;
	margin: 0 0 6px 0;
	padding: 10px;
	border-radius: 10px;
}

.service__img {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-webkit-filter: brightness(80%);
	filter: brightness(80%);
}

.service__content {
	position: relative;
	z-index: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 260px 30px 30px 30px;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.85);
	border: 1px solid #fff;
	background: transparent;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.service__content:hover {
	padding: 30px;
	background: rgba(0, 0, 0, 0.8);
}
.service__content.active {
	padding: 30px;
	background: rgba(0, 0, 0, 0.8);
}

.service__name {
	font-size: 23px;
	text-transform: uppercase;
}

.service__price {
	margin: 0 0 10px 0;
	font-family: "Playfair Display", serif;
	font-style: italic;
	font-size: 23px;
}

.service__text {
	margin: 0 0 10px 0;
	font-weight: 300;
	text-align: justify;
	line-height: 1.3;
}

.service__button {
	margin: auto 0 0 0;
}

@media screen and (max-width: 1200px) {
	.services__item {
		width: 49%;
	}
}

@media screen and (max-width: 992px) {
	.services__item {
		width: 49%;
		height: auto;
	}
	.service__content {
		padding: 10px;
		background: rgba(0, 0, 0, 0.8);
	}
	.service__name {
		font-size: 15px;
	}
	.service__price {
		font-size: 16px;
	}
	.service__text {
		font-size: 12px;
	}
	.service__button {
		padding: 6px 12px;
		font-size: 12px;
	}
	.service:hover .service__content {
		padding: 10px;
	}
}

.advantages__box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.advantages__item {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 240px;
	height: 240px;
	margin: 0 0 50px 0;
	padding: 20px;
	background: #000;
	border-radius: 10px;
	text-align: center;
}

.advantages__foto {
	position: absolute;
	bottom: 0;
	left: 0;
}

.advantages__icon {
	width: 115px;
	height: 115px;
	-o-object-fit: contain;
	object-fit: contain;
	margin: 0 0 10px 0;
}

.advantages__name {
	margin: auto 0 0 0;
	font-size: 23px;
	text-transform: uppercase;
}

@media screen and (max-width: 992px) {
	.advantages__item {
		width: 49%;
		height: auto;
		margin: 0 0 10px 0;
	}
	.advantages__item:first-child {
		display: none;
	}
	.advantages__item:last-child {
		display: none;
	}
	.advantages__foto {
		width: 85%;
	}
	.advantages__icon {
		width: 80px;
	}
	.advantages__name {
		font-size: 13px;
	}
}

.statistic {
	background: url("../img/statistic/foto_1.webp") top left/cover no-repeat;
}
.statistic__box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.statistic__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 25%;
	height: 240px;
}
.statistic__icon {
	width: 70px;
	height: 70px;
	-o-object-fit: contain;
	object-fit: contain;
}
.statistic__val {
	font-size: 50px;
}
.statistic__name {
	position: relative;
	text-transform: uppercase;
}

@media screen and (max-width: 992px) {
	.statistic__item {
		width: 50%;
		height: auto;
		padding: 15px 0;
	}
	.statistic__icon {
		width: 50px;
		height: 50px;
	}
	.statistic__val {
		font-size: 30px;
	}
}

.gallery {
	margin: 0;
	padding: 60px 0;
	background: url("../img/bg_modul_black.webp");
	overflow: hidden;
}
.gallery__img {
	position: absolute;
	z-index: 1;
	bottom: -60px;
	right: -500px;
}
.gallery .swiper-container {
	width: 875px;
	height: 1165px;
	margin: -60px auto 0 0;
	padding: 0 0 0 100px;
}
.gallery .swiper-slide {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.gallery .swiper-slide img {
	width: 45%;
	height: 55%;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 10px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.gallery .swiper-slide.swiper-slide-active img {
	width: 100%;
	height: 100%;
}
.gallery .swiper-pagination {
	left: 40px;
}
.gallery .swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	background: #434343;
	opacity: 1;
}
.gallery .swiper-pagination-bullet-active {
	background: #e30016;
}
.gallery .swiper-button-next {
	top: 378px;
	left: 32px;
}
.gallery .swiper-button-next::after {
	display: none;
}
.gallery .swiper-button-next img {
	width: 10px;
}
.gallery .swiper-button-prev {
	top: 786px;
	left: 32px;
}
.gallery .swiper-button-prev::after {
	display: none;
}
.gallery .swiper-button-prev img {
	width: 10px;
}

@media screen and (max-width: 992px) {
	.gallery__img {
		display: none;
	}
	.gallery .swiper-container {
		width: 100%;
		height: 300px;
		padding: 0 0 0 30px;
		margin: 0 0 0 0;
	}
	.gallery .swiper-slide img {
		width: 100%;
		height: 100%;
	}
	.gallery .swiper-slide.swiper-slide-active img {
		height: 100%;
	}
	.gallery .swiper-pagination {
		left: 0;
	}
	.gallery .swiper-button-next {
		display: none;
	}
	.gallery .swiper-button-prev {
		display: none;
	}
}

.team {
	padding: 60px 0 0 0;
}
.team .swiper-container {
	padding: 20px 0;
}
.team .swiper-slide {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.team__item {
	width: 240px;
	text-align: center;
	background: #000;
	border-radius: 10px;
}
.team__img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	height: 240px;
}
.team__img img {
	width: 100%;
	height: 265px;
	-o-object-fit: contain;
	object-fit: contain;
}
.team__info {
	padding: 20px 33px 33px;
}
.team__name {
	display: block;
	margin: 0 0 10px 0;
	font-size: 30px;
	line-height: 1;
	text-transform: uppercase;
}
.team__description {
	font-size: 16px;
	text-transform: uppercase;
}
.team__button {
	margin: 0 auto;
}

.swiper__navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 560px;
	margin: 40px auto;
}
.swiper__navigation .swiper-pagination {
	position: static;
}
.swiper__navigation .swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	background: #434343;
	opacity: 1;
	margin: 0 4px;
}
.swiper__navigation .swiper-pagination-bullet-active {
	background: #e30016;
}
.swiper__navigation button {
	position: static;
	width: 40px;
	height: auto;
	margin: 0 0 0 0;
}
.swiper__navigation button::after {
	display: none;
}

@media screen and (max-width: 992px) {
	.swiper__navigation {
		width: 100%;
	}
}

.reviews__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.reviews__content {
	position: relative;
	margin: 0 0 30px 0;
	padding: 35px;
	background: #fff;
	border-radius: 30px;
	text-align: center;
}
.reviews__content::after {
	content: "";
	position: absolute;
	border: 18px solid transparent;
	border-left: 43px solid #fff;
	bottom: -18px;
	left: calc(50% + 60px);
}

.reviews__author {
	text-align: center;
}

.content-reviews__title {
	display: block;
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	font-family: "Playfair Display", serif;
	font-size: 26px;
	color: #000;
	border-bottom: 1px solid #e30016;
}

.content-reviews__text {
	font-size: 16px;
	color: #000;
}

.author__foto {
	width: 160px;
	height: 160px;
	border-radius: 50%;
	border: 5px solid #fff;
	overflow: hidden;
}
.author__foto img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.author__name {
	font-weight: 700;
	text-transform: uppercase;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
	background-image: none;
}

.feedback__form {
	position: relative;
	padding: 80px 60px;
	background: #fff;
	border-radius: 5px;
}

.feedback__title {
	margin: 0 0 10px 0;
	color: #000;
	line-height: 1;
}

.feedback__text {
	margin: 0 0 5px 0;
	font-size: 12px;
	color: #e30016;
	text-transform: uppercase;
	text-align: center;
}

.form__fields {
	margin: 0 0 10px 0;
	padding: 20px 0;
	border-width: 3px 0 3px 0;
	border-style: solid;
	border-color: #ebebeb;
}

.form__item {
	width: 100%;
	height: 65px;
	margin: 0 0 20px 0;
	padding: 7px 16px;
	background: #f6f6f6;
	border: 1px solid #ebebeb;
}
.form__item--message {
	height: 140px;
	margin: 0 0 0 0;
}
.form__item--message .form__input {
	height: 90px;
	resize: none;
}

.form__label {
	display: block;
	margin: 0 0 5px 0;
	font-size: 12px;
	color: #000;
}
.form__label span {
	color: #e30016;
}

.form__input {
	width: 100%;
	font-weight: 700;
	color: #000;
	border: none;
	background: transparent;
}

.form__agree {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 0 30px 0;
}

.form__button,
.good__order {
	display: block;
	margin: 0 auto;
	padding: 10px 57px;
	font-size: 15px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	background: #e30016;
	border-radius: 30px;
}
.form__button:hover,
.good__order:hover {
	background: #bb0516;
}

.agree__label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 46px 0 0;
	font-size: 15px;
	color: #000;
}
.agree__label a {
	color: #ff6400;
	text-decoration: underline;
}
.agree__label a:hover {
	text-decoration: none;
}
.agree__label::before {
	content: "";
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 32px;
	height: 32px;
	margin-right: 13px;
	font-size: 30px;
	color: #e30016;
	border: 1px solid #d2d0d0;
	border-radius: 5px;
	background: #f8f9f9;
	cursor: pointer;
}

.agree__check {
	display: none;
}
.agree__check:checked + .agree__label::before {
	content: "✓";
}

@media screen and (max-width: 992px) {
	.feedback__form {
		padding: 30px 15px;
	}
}

.goods {
	margin: 0 0 0 0;
	padding: 0 0 60px 0;
}
.goods__box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.goods__item {
	position: relative;
	width: 365px;
	height: 360px;
	margin: 0 0 6px 0;
	padding: 10px;
	background: #f6f6f6;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
}
.goods__item::after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 0%;
	background: #e30016;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.goods__item:hover .good__overlay {
	opacity: 1;
}
.goods__item:hover::after {
	height: 100%;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.goods__item.active::after {
	height: 100%;
}
.goods__item.active .good__overlay {
	opacity: 0 !important;
	pointer-events: none;
}
.goods__item.active .good__hidden {
	top: 0;
}
.goods__button {
	margin: 20px auto;
}
.goods__more {
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height 0.3s;
	-o-transition: max-height 0.3s;
	transition: max-height 0.3s;
}

.good__content {
	position: relative;
	z-index: 2;
	height: 100%;
	padding: 15px;
	color: #000;
	text-align: center;
	background: #fff;
	border: 1px solid #c8c8c8;
	overflow: hidden;
}

.good__overlay {
	content: "";
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.good__preview {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	-webkit-transition: margin 0.3s;
	-o-transition: margin 0.3s;
	transition: margin 0.3s;
}

.good__img {
	height: 200px;
	-o-object-fit: contain;
	object-fit: contain;
	margin: 0 0 40px 0;
}

.good__name {
	margin: 0 0 0 0;
	font-size: 23px;
	text-transform: uppercase;
}

.good__price {
	font-family: "Playfair Display", serif;
	font-size: 23px;
}

.good__hidden {
	position: absolute;
	top: 100%;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 15px;
	background: #fff;
	-webkit-transition: top 0.3s;
	-o-transition: top 0.3s;
	transition: top 0.3s;
}

.good__pricelist {
	margin: 0 0 20px 0;
	text-align: left;
}
.good__pricelist li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 5px 0;
	font-family: "Playfair Display", serif;
	font-size: 16px;
	border-bottom: 1px solid #000;
}

.good__priceitem {
	color: #e30016;
}

.good__order {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin: auto auto 0;
}

@media screen and (max-width: 1200px) {
	.goods__item {
		width: 49%;
	}
}

@media screen and (max-width: 992px) {
	.goods__item {
		height: auto;
	}
	.goods__item::after {
		height: 100%;
	}
	.good__overlay {
		opacity: 1;
	}
	.good__img {
		height: 140px;
	}
	.good__name {
		font-size: 15px;
	}
	.good__price {
		font-size: 15px;
	}
}

@media screen and (max-width: 768px) {
	.good__button {
		padding: 6px 15px;
		font-size: 13px;
	}
	.good__hidden {
		padding: 5px;
		overflow-y: scroll;
	}
	.good__pricelist li {
		font-size: 14px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.good__order {
		width: 100%;
		padding: 6px 0;
	}
}

.contacts {
	padding: 25px 0 75px 0;
	background: #000;
}
.contacts__logo {
	position: relative;
	display: block;
	width: 180px;
	margin: 0 auto 60px auto;
}
.contacts__col {
	border-right: 1px solid #e30016;
}
.contacts__item {
	height: 140px;
	padding: 0 35px 0 0;
}

.contact__name {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 0 10px 0;
	font-family: "Playfair Display", serif;
}

.contact__icon {
	width: 30px;
	margin: 0 5px 0 0;
}

.contact__val {
	padding: 0 0 0 35px;
	font-size: 14px;
	color: #fff;
}
.contact__val:hover {
	color: #fff;
}

.contact__map {
	width: 100%;
	height: 220px;
	border-radius: 10px;
	overflow: hidden;
}

@media screen and (max-width: 992px) {
	.contacts__item {
		height: 100px;
	}
}

.footer {
	padding: 20px;
	background: #e30016;
	text-align: center;
}
.footer__copyright {
	font-size: 11px;
}

.modal-open .header {
	padding-right: 17px;
}

.modal .close {
	position: absolute;
	z-index: 1;
	top: 10px;
	right: 10px;
}

.modal__form {
	padding: 30px 15px 15px;
}

.modal .feedback__title {
	font-size: 40px;
}

@media screen and (max-width: 768px) {
	.modal .feedback__title {
		font-size: 29px;
	}
}

.socials {
	position: fixed;
	z-index: 99;
	top: 50%;
	right: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}
.socials__link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background: #e30016;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.socials__link i {
	font-size: 30px;
	color: #000;
	-webkit-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}
.socials__link:hover {
	width: 70px;
}
.socials__link:hover i {
	color: #fff;
}

